<div class="currency__wrapper">
    <mat-card class="currency__header">
        <mat-card-title>Currency calculator</mat-card-title>
        <mat-card-subtitle>Pavlo Hurtovenko</mat-card-subtitle>
        <div>
            <p>Daily rate: {{dailyRate | currency: "USD "}} {{dailyRateEuro | currency: "
                EUR "}}</p>
        </div>
    </mat-card>

    <div class="currency__board">
        <mat-card class="currency__card">
            <app-input (amountChange)="changeAmount($event)" [direction]="'from'" [toValue]="fromValue"></app-input>
            <app-select-currency [currenciesCollection]="currenciesCollection" (onSelect)="displayCurrency($event)"
                [direction]="'from'" [selectedCurrencyFrom]="selectedCurrencyFrom">
            </app-select-currency>
        </mat-card>
        <mat-card class="currency__card">
            <app-input (amountChange)="changeAmount($event)" [direction]="'to'" [fromValue]="toValue"></app-input>
            <app-select-currency [currenciesCollection]="currenciesCollection" (onSelect)="displayCurrency($event)"
                [direction]="'to'" [selectedCurrencyTo]="selectedCurrencyTo">
            </app-select-currency>
        </mat-card>
    </div>
</div>